<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skark Tank India Wiki - Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <img src="assets/1.png" alt="">
    </nav>
</body>
</html>